<!--
 -- Student Name: Samira Roostaei
 -- ID: 133107169
 -- Email: sroostaei@myseneca.ca
 -- Assignment 2 WEB322
 --Date: 2021-10-02
 Professor: Haytham Qushtom
-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styleSheet.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <meta
      property="og:description"
      content="Web Hosting Canada offers Powerful Canadian Web Hosting Plans including Free Domain, Site Builder, Wordpress, Email &amp; 24/7 support. Start now!"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <style>
      #plans { margin-left: 20px; margin-top: 20px; color: rgb(102, 99, 99);
      font-family: FuraCode Nerd Font, -apple-system, system-ui,
      BlinkMacSystemFont; font-size: 15px; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="height: 70px">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Canadian Domain</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="/cwh">CWH</a></li>
            <li><a href="https://whc.ca/en">Hosting & Servers</a></li>
            <li><a href="https://whc.ca/en">Domain Names</a></li>
            <li><a href="https://whc.ca/en">Websites</a></li>
            <li><a href="https://whc.ca/en">Email</a></li>
            <li><a href="https://whc.ca/en">Online Marketing</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/registration">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid2 text-center">
      <img
        src="images/lady.jpg"
        alt="searching"
        class="img-rounded"
        style="width: 100%; margin-top: 0%; height: 100%"
      />
      <div class="left">
        <h1
          style="
            color: #337ab7;
            font-size: 120%;
            font-family: FuraCode Nerd Font, -apple-system, system-ui,
              BlinkMacSystemFont;
          "
        >
          <b>Canadian Web Hosting</b>
        </h1>
        <h2
          style="
            color: #337ab7;
            font-family: FuraCode Nerd Font, -apple-system, system-ui,
              BlinkMacSystemFont;
          "
        >
          <b>Your Website's Perfect Home</b>
        </h2>
        <p>
          <button
            type="button"
            class="btn2 btn-primary btn-lg;"
            style="
              font-size: 18px;
              font-family: FuraCode Nerd Font, -apple-system, system-ui,
                BlinkMacSystemFont;
              border-radius: 10px;
            "
          >
            compare web hosting plans
          </button>
        </p>
      </div>
    </div>
{{#each plans}}

    <div class="container-fluid3">
      <div class="col-xs-6 col-sm-4">
        <div
          class="d-sm-inline-flex"
          style="
            background-color: rgb(248, 232, 201);
            width: 400px;
            height: 650px;
            margin-left: 40px;
          "
        >
          <i
            class="fa fa-bicycle fa-2x"
            aria-hidden="true"
            style="
              color: rgb(158, 16, 16);
              padding-top: 20px;
              margin-left: 180px;
            "
          ></i>
          <h2 style="text-align: center">{{this.name}}</h2>
          <h4 style="text-align: center">
            {{this.description}}
          </h4>
          <h6
            style="
              text-align: center;
              color: rgb(180, 175, 175);
              font-family: FuraCode Nerd Font, -apple-system, system-ui,
                BlinkMacSystemFont;
            "
          >
            As low as
          </h6>
          <h5 style="text-align: center">C${{this.price}}/month</h5>
          <button
            type="button"
            class="btn btn-primary text-center"
            style="margin-left: 20px; width: 350px"
          >
            Add to cart
          </button>
          <p id="plans">
            <i class="fa fa-tachometer" aria-hidden="true">
              <b style="color: black"> STARTER</b>
              Performance</i><br />
            <i class="fa fa-laptop" aria-hidden="true"></i><b
              style="color: black"
            > Single</b>
            website<br />
            <i class="fa fa-wifi" aria-hidden="true"></i><b
              style="color: black"
            > Unlimited</b>
            space & traffic<br />
            <i class="fa fa-leaf" aria-hidden="true"></i><b
              style="color: black"
            > Powered</b>
            by renewable energy<br />
            <i class="fa fa-envelope-square" aria-hidden="true"></i><b
              style="color: black"
            > All-inclusive</b>
            starter Email<br />
            <i class="fa fa-exchange" aria-hidden="true"></i><b
              style="color: black"
            > Free</b>
            site Migration
          </p>
        </div>
      </div>

{{/each}}
      {{!-- <div class="col-xs-6 col-sm-4">
        <div
          class="d-sm-inline-flex"
          style="
            background-color: rgb(248, 232, 201);
            width: 400px;
            height: 650px;
            margin-left: 30px;
          "
        >
          <i
            class="fa fa-rocket fa-2x"
            aria-hidden="true"
            style="
              color: rgb(158, 16, 16);
              padding-top: 20px;
              margin-left: 180px;
            "
          ></i>
          <h2 style="text-align: center">Pro</h2>
          <h4 style="text-align: center">
            Pro performance, premium features, free domain<sup>2</sup>
            and more
          </h4>
          <h6
            style="
              text-align: center;
              color: rgb(180, 175, 175);
              font-family: FuraCode Nerd Font, -apple-system, system-ui,
                BlinkMacSystemFont;
            "
          >
            As low as
          </h6>
          <h5 style="text-align: center">C$3.99/month</h5>
          <button
            type="button"
            class="btn btn-primary text-center"
            style="margin-left: 20px; width: 350px"
          >
            Add to cart
          </button>
          <p id="plans">
            <i class="fa fa-tachometer" aria-hidden="true">
              <b style="color: black"> STARTER</b>
              Performance</i><br />
            <i class="fa fa-laptop" aria-hidden="true"></i><b
              style="color: black"
            > Single</b>
            website<br />
            <i class="fa fa-wifi" aria-hidden="true"></i><b
              style="color: black"
            > Unlimited</b>
            space & traffic<br />
            <i class="fa fa-leaf" aria-hidden="true"></i><b
              style="color: black"
            > Powered</b>
            by renewable energy<br />
            <i class="fa fa-envelope-square" aria-hidden="true"></i><b
              style="color: black"
            > All-inclusive</b>
            starter Email<br />
            <i class="fa fa-exchange" aria-hidden="true"></i><b
              style="color: black"
            > Free</b>
            site Migration
          </p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div
          class="d-sm-inline-flex"
          style="
            background-color: rgb(248, 232, 201);
            width: 400px;
            height: 650px;
          "
        >
          <i
            class="fa fa-building fa-2x"
            aria-hidden="true"
            style="
              color: rgb(158, 16, 16);
              padding-top: 20px;
              margin-left: 180px;
            "
          ></i>
          <h2 style="text-align: center">Enterprise</h2>
          <h4 style="text-align: center">
            Best performance for demanding websites, with SSL &B dedicated IP<sup
            >3</sup>
          </h4>
          <h6
            style="
              text-align: center;
              color: rgb(180, 175, 175);
              font-family: FuraCode Nerd Font, -apple-system, system-ui,
                BlinkMacSystemFont;
            "
          >
            As low as
          </h6>
          <h5 style="text-align: center">C$4.28/month</h5>
          <button
            type="button"
            class="btn btn-primary text-center"
            style="margin-left: 20px; width: 350px"
          >
            Add to cart
          </button>
          <p id="plans">
            <i class="fa fa-tachometer" aria-hidden="true">
              <b style="color: black"> STARTER</b>
              Performance</i><br />
            <i class="fa fa-laptop" aria-hidden="true"></i><b
              style="color: black"
            > Single</b>
            website<br />
            <i class="fa fa-wifi" aria-hidden="true"></i><b
              style="color: black"
            > Unlimited</b>
            space & traffic<br />
            <i class="fa fa-leaf" aria-hidden="true"></i><b
              style="color: black"
            > Powered</b>
            by renewable energy<br />
            <i class="fa fa-envelope-square" aria-hidden="true"></i><b
              style="color: black"
            > All-inclusive</b>
            starter Email<br />
            <i class="fa fa-exchange" aria-hidden="true"></i><b
              style="color: black"
            > Free</b>
            site Migration
          </p>
        </div>
      </div> --}}
    </div>
  </body>
</html>