<!--
 -- Student Name: Samira Roostaei
 -- ID: 133107169
 -- Email: sroostaei@myseneca.ca
 -- Assignment 2 WEB322
 --Date: 2021-10-02
 Professor: Haytham Qushtom
-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <meta
      property="og:description"
      content="Web Hosting Canada offers Powerful Canadian Web Hosting Plans including Free Domain, Site Builder, Wordpress, Email &amp; 24/7 support. Start now!"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    background="images/tec.jpg"
    style="background-repeat: no-repeat; width: 1500px"
  >
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <form action="/login" method="post">
          <h1 style="text-align: center; padding-top: 30px">Sign to WHC</h1>
          {{#if error}}
            <small class="error">{{error}}</small>
          {{/if}}
          <div class="form-group">
            <label
              for="inputEmail3"
              class="col-sm-2 control-label"
            >Username</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                name="userName"
                id="inputEmail3"
                placeholder="Username"
              /><br />
            </div>
          </div>
          <div class="form-group">
            <label
              for="inputPassword3"
              class="col-sm-2 control-label"
            >Password</label>
            <div class="col-sm-10">
              <input
                type="password"
                class="form-control"
                name="password"
                id="inputPassword3"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label> <input type="checkbox" /> Remember me </label><br />
                <a href="#click">Forgot password?</a>
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-default"
                style="margin-left: 90px"
              >
                Sign in
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer class="footer spec">
      <div class="footer-data">Made with ❤ by Samira Roostaei - 2021</div>
    </footer>
  </body>
</html>