*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: ltr;
}

@media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
     
    }
  }
 
  
  .gradient-custom-2 {
    background: white;
    background: linear-gradient(to right, rgb(88, 3, 77),rgb(98,20,226),rgb(250,250,250))
  }
  
  .bg-indigo {
      margin-left: 260px;
      height: 800px;
      background-color:rgb(235, 227, 227);
  }

  @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  .footer {
    height: 80px;
    width: 1500px;
   background-color: rgb(22, 21, 22);
   color: honeydew;
  }

  
.spec {
    position: fixed;
    bottom: 0;
   
  }
  
  .footer .footer-data {
    text-align: center;
    padding-top: 30px;
  }